<style>
    .alert {
        display: ${isWon ? "" : "none"};
        padding: 20px;
        background-color: #3cf466; /* Green */
        color: white;
        margin-bottom: 15px;
        /*over the header*/
        z-index: 1;
        position: fixed;
        width: 100%;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Article obtenu par <strong>${active_auc.get(1)}</strong>
</div>